<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230812881441-9ti19opiiaf4auvall64ebikf1nshblb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230812881441-9ti19opiiaf4auvall64ebikf1nshblb</string>
	<key>API_KEY</key>
	<string>AIzaSyB1NtyVjgw9-wW9gNuv6nPScLuICr3LKAg</string>
	<key>GCM_SENDER_ID</key>
	<string>230812881441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cm.gkfcsolution.fluttergooglesign</string>
	<key>PROJECT_ID</key>
	<string>flutter--sign-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter--sign-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230812881441:ios:cd2da916a40a1f3fdbc960</string>
</dict>
</plist>